{
    "root": true,
    "extends": "@antfu",
    "rules": {
        "jsonc/indent": ["error", 4, {}],
        "@typescript-eslint/indent": [
            "error",
            4,
            {
                "offsetTernaryExpressions": true,
                "ignoredNodes": ["TemplateLiteral *", "TSTypeParameterInstantiation"],
                "SwitchCase": 1
            }
        ],
        "@typescript-eslint/consistent-type-definitions": ["error", "type"]
    },
    "globals": {
        "$": true,
        "chalk": true,
        "cd": true,
        "argv": true,
        "fs": true,
        "nothrow": true
    }
}
