{% for model in models -%}
-   
    typeName: Query
    fieldName: get{{ model.name }}
    dataSource: prisma-appsync
-   
    typeName: Query
    fieldName: list{{ model.pluralizedName }}
    dataSource: prisma-appsync
-   
    typeName: Query
    fieldName: count{{ model.pluralizedName }}
    dataSource: prisma-appsync
-   
    typeName: Mutation
    fieldName: create{{ model.name }}
    dataSource: prisma-appsync
-   
    typeName: Mutation
    fieldName: update{{ model.name }}
    dataSource: prisma-appsync
-   
    typeName: Mutation
    fieldName: upsert{{ model.name }}
    dataSource: prisma-appsync
-   
    typeName: Mutation
    fieldName: delete{{ model.name }}
    dataSource: prisma-appsync
-   
    typeName: Mutation
    fieldName: createMany{{ model.pluralizedName }}
    dataSource: prisma-appsync
-   
    typeName: Mutation
    fieldName: updateMany{{ model.pluralizedName }}
    dataSource: prisma-appsync
-   
    typeName: Mutation
    fieldName: deleteMany{{ model.pluralizedName }}
    dataSource: prisma-appsync
{% endfor -%}
{% for resolver in customResolvers -%}
-   
    typeName: {{resolver.typeName}}
    fieldName: {{resolver.fieldName}}
    {% if resolver.requestMappingTemplate -%}
    requestMappingTemplate: >-
        {{resolver.requestMappingTemplate | safe | indent(8)}}
    {% endif -%}
    {% if resolver.responseMappingTemplate -%}
    responseMappingTemplate: >-
        {{resolver.responseMappingTemplate | safe | indent(8)}}
    {% endif -%}
    dataSource: {{resolver.dataSource}}
{% endfor -%}