{% for model in models %}
    type {{ model.name }} {{ model.directives.type | safe }} {
        {% for field in model.fields -%}
            {{ field.name }}: {{ field.scalar }}{% if field.isRequired -%}!{% endif %} {{ field.directives.field | safe }}
        {% endfor %}
    }
{% endfor %}

type BatchPayload {{ directiveAliases.default | safe }} {
    count: Int
}

{% for enum in enums %}
    enum {{ enum.name }} {
        {% for value in enum.values -%}
            {{ value }}
        {% endfor %}
    }

    input {{ enum.name }}EnumFilterInput {
        equals: {{ enum.name }}
        in: [{{ enum.name }}!]
        not: {{ enum.name }}EnumFilterInput
        notIn: [{{ enum.name }}!]
    }
{% endfor %}

enum OrderByArg {
    ASC
    DESC
}

{% for model in models %}
    {% if model.idFields | length -%}
        input {{ model.idFields | join(" ") | pascalCase }}FieldsInput {
            {% for field in model.fields -%}
                {% if field.name in model.idFields -%}
                    {{ field.name }}: {{ field.scalar }}
                {% endif -%}
            {% endfor %}
        }
    {% endif %}

    input {{ model.name }}FilterRelationsInput {
        every: {{ model.name }}WhereFilterInput
        none: {{ model.name }}WhereFilterInput
        some: {{ model.name }}WhereFilterInput
    }
    
    input {{ model.name }}WhereFilterInput {
        OR: [{{ model.name }}WhereFilterInput]
        NOT: [{{ model.name }}WhereFilterInput]
        AND: [{{ model.name }}WhereFilterInput]
        {% for field in model.fields -%}
            {% if not field.relation -%}
                {% if field.isEnum -%}
                    {{ field.name }}: {{ field.scalar }}EnumFilterInput
                {% elseif field.scalar in ["Int", "Float", "AWSDateTime", "AWSJSON", "AWSEmail", "AWSURL", "Boolean"] -%}
                    {{ field.name }}: {{ field.scalar }}FilterInput
                {% else -%}
                    {{ field.name }}: StringFilterInput
                {% endif -%}
            {% else -%}
                {% if field.relation.kind === "one" -%}
                    {{ field.name }}: {{ field.relation.type }}WhereFilterInput
                {% else  -%}
                    {{ field.name }}: {{ field.relation.type }}FilterRelationsInput
                {% endif -%}
            {% endif -%}
        {% endfor %}
    }

    input {{ model.name }}WhereUniqueInput {
        {% for field in model.fields -%}
            {% if field.isUnique -%}
                {{ field.name }}: {{ field.scalar }}
            {% endif -%}
        {% endfor %}
        {% if model.idFields | length -%}
            {{ model.idFields | join("_") }}: 
                {{ model.idFields | join(" ") | pascalCase }}FieldsInput!
        {% endif %}
    }

    input {{ model.name }}OrderByInput {
        {% for field in model.fields -%}
            {% if not field.relation -%}
                {{ field.name }}: OrderByArg
            {% endif -%}
        {% endfor %}
    }

    input {{ model.name }}CreateInput {
        {% for field in model.fields -%}
            {% if field.isEditable and not field.relation -%}
                {{ field.name }}: 
                    {{ field.scalar }}{% if field.isRequired -%}!{% endif %}
            {% elseif field.isEditable and field.relation -%}
                {{ field.name }}: 
                    {{ field.relation.name }}CreateRelationsInput{% if field.isRequired -%}!{% endif %}
            {% endif -%}
        {% endfor %}
    }
    
    input {{ model.name }}CreateManyInput {
        {% for field in model.fields -%}
            {% if field.isEditable and not field.relation -%}
                {{ field.name }}: 
                    {{ field.scalar }}{% if field.isRequired -%}!{% endif %}
            {% endif -%}
        {% endfor %}
    }

    input {{ model.name }}UpdateInput {
        {% for field in model.fields -%}
            {% if field.isEditable and not field.relation -%}
                {{ field.name }}: {{ field.scalar }}
            {% elseif field.isEditable and field.relation -%}
                {{ field.name }}: {{ field.relation.name }}UpdateRelationsInput
            {% endif -%}
        {% endfor %}
    }

    input {{ model.name }}UpdateUniqueInput {
        data: {{ model.name }}UpdateInput!
        where: {{ model.name }}WhereUniqueInput!
    }

    input {{ model.name }}UpdateManyInput {
        where: {{ model.name }}WhereFilterInput!
        data: {{ model.name }}UpdateInput!
    }

    input {{ model.name }}UpsertInput {
        create: {{ model.name }}CreateInput!
        update: {{ model.name }}UpdateInput!
    }

    input {{ model.name }}UpsertUniqueInput {
        where: {{ model.name }}WhereUniqueInput!
        create: {{ model.name }}CreateInput!
        update: {{ model.name }}UpdateInput!
    }

    input {{ model.name }}DeleteUniqueInput {
        where: {{ model.name }}WhereUniqueInput!
    }

    input {{ model.name }}DeleteManyInput {
        where: {{ model.name }}WhereFilterInput!
    }

    input {{ model.name }}ConnectOrCreateInput {
        where: {{ model.name }}WhereUniqueInput!
        create: {{ model.name }}CreateInput!
    }

    {% for field in model.fields -%}
        {% if field.relation -%}
            input {{ field.relation.name }}CreateRelationsInput {
                {% if field.relation.kind === "one" -%}
                create: {{ field.relation.type }}CreateInput
                connect: {{ field.relation.type }}WhereUniqueInput
                connectOrCreate: {{ field.relation.type }}ConnectOrCreateInput
                {% else  -%}
                create: [{{ field.relation.type }}CreateInput]
                connect: [{{ field.relation.type }}WhereUniqueInput]
                connectOrCreate: [{{ field.relation.type }}ConnectOrCreateInput]
                {% endif -%}
            }

            input {{ field.relation.name }}UpdateRelationsInput {
                {% if field.relation.kind === "one" -%}
                create: {{ field.relation.type }}CreateInput
                connect: {{ field.relation.type }}WhereUniqueInput
                connectOrCreate: {{ field.relation.type }}ConnectOrCreateInput
                update: {{ field.relation.type }}UpdateInput
                upsert: {{ field.relation.type }}UpsertInput
                delete: Boolean
                disconnect: Boolean
                {% else  -%}
                create: [{{ field.relation.type }}CreateInput]
                connect: [{{ field.relation.type }}WhereUniqueInput]
                connectOrCreate: [{{ field.relation.type }}ConnectOrCreateInput]
                update: [{{ field.relation.type }}UpdateUniqueInput]
                upsert: [{{ field.relation.type }}UpsertUniqueInput]
                delete: [{{ field.relation.type }}DeleteUniqueInput]
                disconnect: [{{ field.relation.type }}WhereUniqueInput]
                set: [{{ field.relation.type }}WhereUniqueInput]
                updateMany: [{{ field.relation.type }}UpdateManyInput]
                deleteMany: [{{ field.relation.type }}DeleteManyInput]
                {% endif -%}
            }
        {% endif -%}
    {% endfor %}
{% endfor %}

input AWSDateTimeFilterInput {
    equals: AWSDateTime
    gt: AWSDateTime
    gte: AWSDateTime
    in: [AWSDateTime!]
    lt: AWSDateTime
    lte: AWSDateTime
    not: AWSDateTimeFilterInput
    notIn: [AWSDateTime!]
}

input FloatFilterInput {
    equals: Float
    gt: Float
    gte: Float
    in: [Float!]
    lt: Float
    lte: Float
    not: FloatFilterInput
    notIn: [Float!]
}

input IntFilterInput {
    equals: Int
    gt: Int
    gte: Int
    in: [Int!]
    lt: Int
    lte: Int
    not: IntFilterInput
    notIn: [Int!]
}

input AWSJSONFilterInput {
    contains: String
    endsWith: String
    equals: AWSJSON
    in: [AWSJSON!]
    not: AWSJSONFilterInput
    notIn: [AWSJSON!]
    startsWith: String
}

input AWSEmailFilterInput {
    contains: String
    endsWith: String
    equals: AWSEmail
    in: [AWSEmail!]
    not: AWSEmailFilterInput
    notIn: [AWSEmail!]
    startsWith: String
}

input AWSURLFilterInput {
    contains: String
    endsWith: String
    equals: AWSURL
    in: [AWSURL!]
    not: AWSURLFilterInput
    notIn: [AWSURL!]
    startsWith: String
}

input StringFilterInput {
    contains: String
    endsWith: String
    equals: String
    in: [String!]
    not: StringFilterInput
    notIn: [String!]
    startsWith: String
}

input BooleanFilterInput {
    equals: Boolean
    not: BooleanFilterInput
}

type Mutation {
    {% for model in models %}
        """
        Create a new single {{ model.name }} record.
        """
        create{{ model.name }}(
            data: {{ model.name }}CreateInput!
        ): {{ model.name }} {{ model.directives.create | safe }}
        """
        Create multiple new {{ model.name }} records.
        """
        createMany{{ model.pluralizedName }}(
            data: [{{ model.name }}CreateManyInput!],
            skipDuplicates: Boolean
        ): BatchPayload {{ model.directives.createMany | safe }}
        """
        Update an existing single {{ model.name }} record.
        """
        update{{ model.name }}(
            where: {{ model.name }}WhereUniqueInput!,
            data: {{ model.name }}UpdateInput!
        ): {{ model.name }} {{ model.directives.update | safe }}
        """
        Update multiple existing {{ model.name }} records.
        """
        updateMany{{ model.pluralizedName }}(
            where: {{ model.name }}WhereFilterInput!,
            data: {{ model.name }}UpdateInput!
        ): BatchPayload {{ model.directives.updateMany | safe }}
        """
        Update an existing or create a new single {{ model.name }} record.
        """
        upsert{{ model.name }}(
            data: {{ model.name }}UpdateInput!,
            where: {{ model.name }}WhereUniqueInput!
        ): {{ model.name }} {{ model.directives.upsert | safe }}
        """
        Delete a single {{ model.name }} record.
        """
        delete{{ model.name }}(
            where: {{ model.name }}WhereUniqueInput!
        ): {{ model.name }} {{ model.directives.delete | safe }}
        """
        Delete multiple {{ model.name }} records.
        """
        deleteMany{{ model.pluralizedName }}(
            where: {{ model.name }}WhereFilterInput!
        ): BatchPayload {{ model.directives.deleteMany | safe }}
    {% endfor %}
}

type Query {
    {% for model in models %}
        """
        Find a single {{ model.name }} record by unique identifier.
        """
        get{{ model.name }}(
            where: {{ model.name }}WhereUniqueInput!
        ): {{ model.name }} {{ model.directives.get | safe }}
        """
        Find many {{ model.name }} records (optional query filters).
        """
        list{{ model.pluralizedName }}(
            where: {{ model.name }}WhereFilterInput,
            orderBy: [{{ model.name }}OrderByInput],
            skip: Int,
            take: Int
        ): [{{ model.name }}] {{ model.directives.list | safe }}
        """
        Count all {{ model.name }} records (optional query filters).
        """
        count{{ model.pluralizedName }}(
            where: {{ model.name }}WhereFilterInput,
            orderBy: [{{ model.name }}OrderByInput],
            skip: Int,
            take: Int
        ): Int {{ model.directives.count | safe }}
    {% endfor %}
}

type Subscription {
    {% for model in models %}
        """
        Triggered from `create{{ model.name }}` mutation (excl. `createMany{{ model.pluralizedName }}` and `upsert{{ model.name }}`).
        """
        onCreated{{ model.name }}(
            {% if model.idFields | length -%}
                {{ model.idFields | join("_") }}: 
                    {{ model.idFields | join(" ") | pascalCase }}FieldsInput!
            {% endif %}
            {% for field in model.subscriptionFields -%}
                {{ field.name }}: {{ field.scalar }}
            {% endfor %}
        ): {{ model.name }}
            @aws_subscribe(mutations: ["create{{ model.name }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from `update{{ model.name }}` mutation (excl. `updateMany{{ model.pluralizedName }}` and `upsert{{ model.name }}`).
        """
        onUpdated{{ model.name }}(
            {% if model.idFields | length -%}
                {{ model.idFields | join("_") }}: 
                    {{ model.idFields | join(" ") | pascalCase }}FieldsInput!
            {% endif %}
            {% for field in model.subscriptionFields -%}
                {{ field.name }}: {{ field.scalar }}
            {% endfor %}
        ): {{ model.name }}
            @aws_subscribe(mutations: ["update{{ model.name }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from `upsert{{ model.name }}` mutation.
        """
        onUpserted{{ model.name }}(
            {% if model.idFields | length -%}
                {{ model.idFields | join("_") }}: 
                    {{ model.idFields | join(" ") | pascalCase }}FieldsInput!
            {% endif %}
            {% for field in model.subscriptionFields -%}
                {{ field.name }}: {{ field.scalar }}
            {% endfor %}
        ): {{ model.name }}
            @aws_subscribe(mutations: ["upsert{{ model.name }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from `delete{{ model.name }}` mutation (excl. `deleteMany{{ model.pluralizedName }}`).
        """
        onDeleted{{ model.name }}(
            {% if model.idFields | length -%}
                {{ model.idFields | join("_") }}:
                    {{ model.idFields | join(" ") | pascalCase }}FieldsInput!
            {% endif %}
            {% for field in model.subscriptionFields -%}
                {{ field.name }}: {{ field.scalar }}
            {% endfor %}
        ): {{ model.name }}
            @aws_subscribe(mutations: ["delete{{ model.name }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from ANY SINGLE record mutation (excl. `on*Many{{ model.pluralizedName }}`).
        """
        onMutated{{ model.name }}(
            {% if model.idFields | length -%}
                {{ model.idFields | join("_") }}:
                    {{ model.idFields | join(" ") | pascalCase }}FieldsInput!
            {% endif %}
            {% for field in model.subscriptionFields -%}
                {{ field.name }}: {{ field.scalar }}
            {% endfor %}
        ): {{ model.name }}
            @aws_subscribe(mutations: ["create{{ model.name }}", "update{{ model.name }}", "upsert{{ model.name }}", "delete{{ model.name }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from `createMany{{ model.pluralizedName }}` mutation.
        """
        onCreatedMany{{ model.pluralizedName }}: BatchPayload
            @aws_subscribe(mutations: ["createMany{{ model.pluralizedName }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from `updateMany{{ model.pluralizedName }}` mutation.
        """
        onUpdatedMany{{ model.pluralizedName }}: BatchPayload
            @aws_subscribe(mutations: ["updateMany{{ model.pluralizedName }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from `deleteMany{{ model.pluralizedName }}` mutation.
        """
        onDeletedMany{{ model.pluralizedName }}: BatchPayload
            @aws_subscribe(mutations: ["deleteMany{{ model.pluralizedName }}"]) {{ model.directives.subscription | safe }}
        """
        Triggered from ANY MULTIPLE records mutation (excl. single record mutations).
        """
        onMutatedMany{{ model.pluralizedName }}: BatchPayload
            @aws_subscribe(mutations: ["createMany{{ model.pluralizedName }}", "updateMany{{ model.pluralizedName }}", "deleteMany{{ model.pluralizedName }}"]) {{ model.directives.subscription | safe }}
    {% endfor %}
}